@tailwind base;
@tailwind components;
@tailwind utilities;


.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childContainer {
  width: 600px ;
  height: 250px;
  margin: 20px;
  font-size: 40px;
  font-weight: 900;
}

.pinkColor {
  color: pink; /* Ensure this is correctly applied */
}
.childContainer {
  position: relative; /* Ensure the parent is positioned */
}

.profile-pic {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;  /* Absolute positioning */
  top: 10px;  /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
}

